<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fotobox</title>
    <link rel="stylesheet" type="text/css" href="style.css" />

</head>
<body>
<div id="container">
    <video autoplay="true" id="videoElement">
    </video>
    <div id="message">
        <span><img src="logo.svg"></span>
    </div>
    <div id="countdown" class="invisible">
        <span>3</span>
    </div>
    <canvas class="still_image" width="100vw" height="100vh"></canvas>
    <div class="lightning"></div>
</div>
<script src="camera.js"></script>
</body>
</html>